<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--TODO 아이콘 -> mipmap-->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/malddong"
        android:label="@string/app_name"
        android:roundIcon="@drawable/malddong"
        android:supportsRtl="true"
        android:theme="@style/Theme.MalddongKt"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="3qper5n1kt" />

        <activity
            android:name=".main.list.touristspot.TouristSpotDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.list.toilet.ToiletDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".intro.MalddongSplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/MalddongSplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>